main .banner {
  margin-bottom: 60px;
}
main .banner .container:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
main .banner .container {
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
main .banner .container img {
  user-select: none;
  object-fit: cover;
  object-position: top;
  -webkit-user-drag: none;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
main .banner .banner-content {
  position: absolute;
  bottom: 40px;
  left: 60px;
  right: 60px;
}
main .banner .banner-content .info,
main .banner .banner-content .info p {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .banner .banner-content .info p {
  justify-content: center;
  gap: 5px;
}
main .banner .banner-content .info p.rated {
  padding: 2px 5px;
  background-color: var(--azure);
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
main .banner .banner-content .info p mat-icon {
  color: var(--azure);
}
main .banner .banner-content .info p span {
  font-weight: bold;
  font-size: 18px;
}
main .banner .banner-content .title {
  margin-top: 20px;
  line-height: 1.25;
  font-size: 38px;
  font-weight: bold;
}
main .search-bar {
  margin-bottom: 30px;
}
main .search-bar .container {
  padding: 15px;
  background-color: var(--oxford-blue);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
main .search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .search-bar form input {
  flex-grow: 3;
  height: 44px;
  font-size: 18px;
  color: var(--off-white);
  border-bottom: 2px solid var(--azure);
}
main .search-bar form button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  background-color: var(--azure);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
main .search-bar form button mat-icon {
  position: relative;
  top: 3px;
  font-size: 16px;
}
main .search-bar form input::placeholder {
  color: var(--off-white);
}
main .spinner-holder {
  display: block;
}
main .loading-spinner {
  margin-inline: auto;
  flex-direction: column;
  display: inline-block;
  gap: 15px;
}
main .loading-spinner,
main .loading-spinner span {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .loading-spinner span::before {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 7px solid var(--azure);
  border-left-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
main .loading-spinner p {
  font-size: 22px;
  margin-block: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  main .banner {
    display: none;
  }
  main .search-bar {
    margin-inline: 15px;
  }
  main .search-bar form {
    flex-direction: column;
    gap: 30px;
  }
  main .search-bar form > * {
    width: 100%;
  }
  main .search-bar form input {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  main,
  main .banner {
    margin-top: 100px;
  }
}
