<app-header></app-header>
<main>
  <section class="banner">
    <div class="container">
      <img
        src="https://codewithsadee.github.io/cineflix/assets/images/John-Wick-3.jpg"
        alt="Banner"
      />
      <div class="banner-content">
        <div class="info">
          <p>
            <mat-icon>theaters</mat-icon>
            <span id="banner-genre">Action/Thriller</span>
          </p>
          <p>
            <mat-icon>calendar_month</mat-icon>
            <span id="banner-year">2019</span>
          </p>
          <p>
            <mat-icon>schedule</mat-icon>
            <span id="banner-duration">2h 11m</span>
          </p>
          <p class="rated">R</p>
        </div>
        <h2 class="title">John Wick: Chapter 3 - Parabellum</h2>
      </div>
    </div>
  </section>
  <section class="search-bar">
    <div class="container">
      <form action="#">
        <input
          type="search"
          name="main-search"
          id="search-input"
          placeholder="I'm looking for...."
        />
        <button (click)="search()" class="navbar-form-open">Search<mat-icon>search</mat-icon></button>
      </form>
    </div>
  </section>
  <section class="movies">
    <div class="container spinner-holder" *ngIf="this.loadingMoviesMetaData; else content">
      <div class="loading-spinner">
        <span></span>
        <p>Loading...</p>
      </div>
    </div>
    <ng-template #content>
        <div class="container">
          <div *ngFor="let movie of moviesDisplayed_Metadata" class="movie watched" (click)="openMovie()">
            <figure class="head">
              <img [src]= 'Object.values(movie)[(Object.keys(movie)).indexOf("Poster")]' [alt]="Object.values(movie)[(Object.keys(movie)).indexOf('Title')]" />
              <div class="overlay">
                <button (click)="addMovieToFavs($event)" title="Add To Favorites">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button (click)="addMovieToWatched($event)" title="Add To Watched">
                  <mat-icon>bookmark</mat-icon>
                </button>
              </div>
            </figure>
            <div class="body">
              <h3 class="title">{{ Object.values(movie)[(Object.keys(movie)).indexOf("Title")] }}</h3>
              <div class="props">
                <p class="genres">
                  <mat-icon>theaters</mat-icon>
                  <span>{{ utilitiesService.formatGenres(Object.values(movie)[(Object.keys(movie)).indexOf("Genre")]) }}</span>
                </p>
                <p class="year">
                  <mat-icon>calendar_month</mat-icon>
                  <span>{{ Object.values(movie)[(Object.keys(movie)).indexOf("Year")] }}</span>
                </p>
              </div>
              <div class="meta">
                <span class="quality">{{ Object.values(movie)[(Object.keys(movie)).indexOf("Rated")] }}</span>
                <p class="duration">
                  <mat-icon>schedule</mat-icon>
                  <span>{{ Object.values(movie)[(Object.keys(movie)).indexOf("Runtime")] }}</span>
                </p>
                <p class="rating">
                  <mat-icon>star</mat-icon>
                  <span>{{ Object.values(movie)[(Object.keys(movie)).indexOf("imdbRating")] }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
  </section>
</main>
<app-footer></app-footer>
