<app-header></app-header>
<section class="movies">
    <div class="container">
        <mat-icon>search</mat-icon>
        <input type="text" [(ngModel)]="searchText" placeholder="Search in your watched movies">
    </div>
    <div class="container">
        <div *ngFor="let obj of objectsArray" [ngStyle]="{'display': isHidden(obj) ? 'none' : 'block'}">
            <div class="movie watched" *ngIf="containsSearchText(obj.Title)">
                <figure class="head">
                    <img src="{{ obj.Poster }}" alt="{{ obj.Title }}">
                    <div class="overlay">
                        <button id="favorite">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="watched">
                            <mat-icon>bookmark</mat-icon>
                        </button>
                    </div>
                </figure>
                <div class="body">
                    <h3 class="title">{{ obj.Title }}</h3>
                    <div class="props">
                        <p class="genres">
                            <mat-icon>theaters</mat-icon>
                            <span>{{ utilitiesService.formatGenres(obj.Genre) }}</span>
                        </p>
                        <p class="year">
                            <mat-icon>calendar_month</mat-icon>
                            <span>{{ obj.Year }}</span>
                        </p>
                    </div>
                    <div class="meta">
                        <span class="quality">{{ obj.Rated }}</span>
                        <p class="duration">
                            <mat-icon>schedule</mat-icon>
                            <span>{{ obj.Runtime }}</span>
                        </p>
                        <p class="rating">
                            <mat-icon>star</mat-icon>
                            <span>{{ obj.imdbRating }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="error-msg" *ngIf="noMatchesFound()">Sorry, no movies found.</p>
    </div>
</section>
<app-footer></app-footer>