@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;900&display=swap");
:root {
  --azure: hsl(211, 100%, 50%);
  --light-azure: hsl(214, 84%, 56%);
  --oxford-blue: hsl(218, 39%, 14%);
  --oxford-blue-alpha: hsla(218, 39%, 14%, 0.5);
  --blue-black: hsl(222, 25%, 10%);
  --yellow: hsl(45, 100%, 54%);
  --red: hsl(0, 93%, 43%);
  --off-white: hsl(0, 0%, 88%);
  --white: hsl(0, 0%, 100%);
  --duration: 0.25s;
  --space: 120px;
}
::selection {
  color: #fff;
  background-color: var(--azure);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--off-white);
}
::-webkit-scrollbar-thumb {
  background: var(--light-azure);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--blue-black);
  color: var(--off-white);
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif !important;
}
a {
  color: var(--off-white);
  text-decoration: none;
}
ul {
  list-style-type: none;
}
span,
a {
  display: inline-block;
}
button,
select,
input {
  outline: none;
  border: none;
  background: none;
}
button {
  color: var(--off-white);
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
input {
    color: var(--white);
    caret-color: var(--yellow);
}
input::placeholder {
    color: var(--white);
}
.container {
  position: relative;
  margin-inline: auto;
}
.movies .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  overflow: hidden;
}
.movies .container .movie {
  overflow: hidden;
  cursor: pointer;
  background-color: var(--oxford-blue);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.movies .container .movie .head {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.movies .container .movie .head .image-container {
  position: relative;
  width: 100%;
  padding-bottom: 150%;
}
.movies .container .movie .head .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
.movies .container .movie:hover .head img {
  -webkit-transform: scale(1.05) rotate(1deg);
  -moz-transform: scale(1.05) rotate(1deg);
  -ms-transform: scale(1.05) rotate(1deg);
  -o-transform: scale(1.05) rotate(1deg);
  transform: scale(1.05) rotate(1deg);
}
.movies .container .movie .head .overlay {
  position: absolute;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 100%;
  background-color: var(--oxford-blue-alpha);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
.movies .container .movie:hover .head .overlay {
  left: 0;
}
.movies .container .movie .head .overlay button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--oxford-blue);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.movies .container .movie .head .overlay button:last-of-type {
  right: 10px;
  left: unset;
}
.movies .container .movie.fav .head .overlay button:first-of-type mat-icon {
  color: var(--red);
}
.movies .container .movie.watched .head .overlay button:last-of-type mat-icon {
  color: var(--yellow);
}
.movies .container .movie .body {
  padding: 0 10px 10px;
}
.movies .container .movie .body .meta,
.movies .container .movie .body .meta > p {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.movies .container .movie .body .title {
  min-height: 85px;
  font-weight: bold;
  font-size: 16px;
}
.movies .container .movie .body .props {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movies .container .movie .body .props .genres {
  margin-left: -6px;
  flex: 1;
}
.movies .container .movie .body .props p mat-icon {
  top: 10.3px !important;
}
.movies .container .movie .body .props .genres mat-icon {
  left: 4px !important;
}
.movies .container .movie .body .meta {
  gap: 10px;
}
.movies .container .movie .body .meta > p {
  margin: 0;
  justify-content: center;
}
.movies .container .movie .body .meta .quality {
  padding: 2px 10px;
  font-weight: bold;
  border: 2px solid var(--white);
  color: var(--yellow);
  user-select: none;
  -webkit-user-drag: none;
}
.movies .container .movie .body .meta .duration {
  margin-left: auto !important;
}
.movies .container .movie .body .props p mat-icon,
.movies .container .movie .body .meta p mat-icon {
  position: relative;
  top: 6px;
  left: 5px;
  font-size: 16px;
  color: var(--yellow);
}
.error-msg {
    color: var(--red);
    font-weight: bold;
    font-size: 30px;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 10px;
}
.spinner-holder {
  display: block !important;
}
.loading-spinner {
  margin-inline: auto;
  flex-direction: column;
  display: inline-block;
  gap: 15px;
}
.loading-spinner,
.loading-spinner span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner span::before {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 7px solid var(--azure);
  border-left-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading-spinner p {
  font-size: 22px;
  margin-block: 10px;
  text-align: center;
}
.swal2-popup.swal2-modal.swal2-icon-warning.swal2-show,
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
  background-color: var(--oxford-blue);
  color: var(--white);
}
body > div > div > div.swal2-icon.swal2-success.swal2-icon-show > div.swal2-success-circular-line-left,
body > div > div > div.swal2-icon.swal2-success.swal2-icon-show > div.swal2-success-circular-line-right,
body > div > div > div.swal2-icon.swal2-success.swal2-icon-show > div.swal2-success-fix {
  background-color: transparent !important;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 15px;
  }
  main .movies .container {
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 718px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 942px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
@media (max-width: 1200px) {
  :root {
    --space: 80px;
  }
}
@media (max-width: 1024px) {
  :root {
    --space: 60px;
  }
}
@media (max-width: 768px) {
  :root {
    --space: 40px;
  }
}
@media (max-width: 575px) {
  :root {
    --space: 20px;
  }
}
