/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;900&display=swap");
:root {
  --azure: hsl(211, 100%, 50%);
  --light-azure: hsl(214, 84%, 56%);
  --oxford-blue: hsl(218, 39%, 14%);
  --oxford-blue-alpha: hsla(218, 39%, 14%, 0.6);
  --blue-black: hsl(222, 25%, 10%);
  /* --rich-black-fogra-30: hsl(219, 32%, 10%); */
  --yellow: hsl(45, 100%, 54%);
  --live-indicator: hsl(0, 79%, 63%);
  --live-indicator-alpha: hsla(0, 79%, 63%, 0.5);
  --off-white: hsl(0, 0%, 88%);
  --white: hsl(0, 0%, 100%);
  --duration: 0.25s;
  --space: 120px;
}
@media (max-width: 1200px) {
  :root {
    --space: 80px;
  }
}
@media (max-width: 1024px) {
  :root {
    --space: 60px;
  }
}
@media (max-width: 768px) {
  :root {
    --space: 40px;
  }
}
@media (max-width: 575px) {
  :root {
    --space: 20px;
  }
}
::selection {
  color: #fff;
  background-color: var(--azure);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--off-white);
}
::-webkit-scrollbar-thumb {
  background: var(--light-azure);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nanum Gothic", sans-serif !important;
  color: var(--off-white);
  background-color: var(--blue-black);
}
a {
  display: inline-block;
  color: var(--off-white);
  text-decoration: none;
}
ul {
  list-style-type: none;
}
span {
  display: inline-block;
}
button,
select,
input {
  outline: none;
  border: none;
  background: none;
}
button {
  color: var(--off-white);
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}
img {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}
.container {
  position: relative;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
