<app-header></app-header>
<main class="watched">
    <section class="main-details">
        <div class="container">
            <div class="image">
                <img src="https://m.media-amazon.com/images/M/MV5BN2FjNmEyNWMtYzM0ZS00NjIyLTg5YzYtYThlMGVjNzE1OGViXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg" alt="Dune">
            </div>
            <div class="info">
                <div class="title">
                    <div>
                        <h1 id="movie-name">Dune</h1>
                        <ul>
                            <li id="movie-year">2021</li>
                            <li id="movie-rated">PG-13</li>
                            <li id="movie-runtime">2h 15m</li>
                        </ul>
                    </div>
                    <div class="btns">
                        <button class="favorite"><mat-icon>favorite</mat-icon></button>
                        <button class="watched"><mat-icon>bookmark</mat-icon></button>
                    </div>
                </div>
                <div class="rating-box">
                    <h4>IMDb Rating</h4>
                    <div>
                        <div class="icon">
                            <mat-icon>star</mat-icon>
                        </div>
                        <p>
                            <span><span id="movie-rating">8.0</span>/10</span>
                            <span id="movie-votes">710K</span>
                        </p>
                    </div>
                </div>
                <p id="movie-genre">
                    <span>Action</span>
                    <span>Adventure</span>
                    <span>Drama</span>
                </p>
                <p class="awards-holder"><span class="span-title">Awards</span><span id="movie-awards">Won 6 Oscars. 171 wins & 283 nominations total</span></p>
                <p id="movie-plot">A noble family becomes embroiled in a war for control over the galaxy's most valuable asset while its heir becomes troubled by visions of a dark future.</p>
            </div>
        </div>
    </section>
    <section class="meta-details">
        <div class="container">
            <p>
                <span class="span-title">Released:&nbsp;</span>
                <span id="movie-boxoffice">22 Oct 2021</span>
            </p>
            <p>
                <span class="span-title">Director(s):&nbsp;</span>
                <span id="movie-director">Denis Villeneuve</span>
            </p>
            <p>
                <span class="span-title">Writer(s):&nbsp;</span>
                <span id="movie-writer">Jon Spaihts, Denis Villeneuve, Eric Roth</span>
            </p>
            <p>
                <span class="span-title">Stars:&nbsp;</span>
                <span id="movie-stars">Timothée Chalamet, Rebecca Ferguson, Zendaya</span>
            </p>
            <p>
                <span class="span-title">Country of origin:&nbsp;</span>
                <span id="movie-stars">United States, Canada</span>
            </p>
            <p>
                <span class="span-title">Language(s):&nbsp;</span>
                <span id="movie-stars">English, Mandarin</span>
            </p>
            <p>
                <span class="span-title">Box Office:&nbsp;</span>
                <span id="movie-boxoffice">$108,327,830</span>
            </p>
        </div>
    </section>
</main>
<app-footer></app-footer>