<app-header></app-header>
<main class="watched" *ngIf="movieMetadata">
    <section class="main-details">
        <div class="container">
            <div class="image">
                <img src="{{ movieMetadata.Poster }}" alt="{{ movieMetadata.Title }}" />
            </div>
            <div class="info">
                <div class="title">
                    <div>
                        <h1>{{ movieMetadata.Title }}</h1>
                        <ul>
                            <li>{{ movieMetadata.Year }}</li>
                            <li>{{ movieMetadata.Rated === "N/A" ? "Not Rated" : movieMetadata.Rated }}</li>
                            <li>{{ movieMetadata.FormattedRuntime }}</li>
                        </ul>
                    </div>
                    <div class="btns">
                        <button [ngClass]="{'favorite': this.utilitiesService.isInFavOrWatched(movieMetadata, true)}" title="Favorite" (click)="this.utilitiesService.addMovieTo_($event, movieMetadata, true)"><mat-icon>favorite</mat-icon></button>
                        <button [ngClass]="{'watched': this.utilitiesService.isInFavOrWatched(movieMetadata, false)}" title="Watched" (click)="this.utilitiesService.addMovieTo_($event, movieMetadata, false)"><mat-icon>bookmark</mat-icon></button>
                    </div>
                </div>
                <div class="rating-box">
                    <h4>IMDb Rating</h4>
                    <div>
                        <div class="icon">
                            <mat-icon>star</mat-icon>
                        </div>
                        <p>
                            <span><span>{{ movieMetadata.imdbRating }}</span>/10</span>
                            <span class="movie-votes">{{ movieMetadata.FormattedVotes }}</span>
                        </p>
                    </div>
                </div>
                <p class="movie-genre">
                    <ng-container *ngFor="let genre of genreList;">
                        <span>{{ genre }}</span>
                    </ng-container>
                </p>
                <p class="awards-holder">
                    <span class="span-title">Awards</span>
                    <span class="movie-awards">{{ movieMetadata.Awards }}</span>
                </p>
                <p class="movie-plot">{{ movieMetadata.Plot }}</p>
            </div>
        </div>
    </section>
    <section class="meta-details">
        <div class="container">
            <p>
                <span class="span-title">Released:&nbsp;</span>
                <span>{{ movieMetadata.Released }}</span>
            </p>
            <p *ngIf="!movieMetadata.hasOwnProperty('BoxOffice')">
                <span class="span-title">Season(s):&nbsp;</span>
                <span>{{ movieMetadata.totalSeasons }}</span>
            </p>
            <p *ngIf="movieMetadata.Director !== 'N/A'">
                <span class="span-title">Director(s):&nbsp;</span>
                <span>{{ movieMetadata.Director }}</span>
            </p>
            <p *ngIf="movieMetadata.Writer !== 'N/A'">
                <span class="span-title">Writer(s):&nbsp;</span>
                <span>{{ movieMetadata.Writer }}</span>
            </p>
            <p>
                <span class="span-title">Stars:&nbsp;</span>
                <span>{{ movieMetadata.Actors }}</span>
            </p>
            <p>
                <span class="span-title">Country of origin:&nbsp;</span>
                <span>{{ movieMetadata.Country }}</span>
            </p>
            <p>
                <span class="span-title">Language(s):&nbsp;</span>
                <span>{{ movieMetadata.Language }}</span>
            </p>
            <p *ngIf="movieMetadata.hasOwnProperty('BoxOffice')">
                <span class="span-title">Box Office:&nbsp;</span>
                <span>{{ movieMetadata.BoxOffice === "N/A" ? "Unavailable" : movieMetadata.BoxOffice }}</span>
            </p>
        </div>
    </section>
</main>
<app-footer></app-footer>
