<app-header></app-header>
<section>
    <div class="container">
        <mat-tab-group>
            <mat-tab label="Login">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div>
                        <mat-icon>person</mat-icon>
                        <input type="text" placeholder="Enter Email" formControlName="email">
                        <div *ngIf="this.loginForm.get('email')?.invalid && loginClicked" class="input-error">
                            Error
                        </div>
                    </div>
                    <div>
                        <mat-icon>lock</mat-icon>
                        <input type="password" placeholder="Enter Password" formControlName="password">
                        <div *ngIf="this.loginForm.get('password')?.invalid && loginClicked" class="input-error">
                            Error
                        </div>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </mat-tab>
            <mat-tab label="Sign Up">
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div>
                        <mat-icon>mail</mat-icon>
                        <input type="email" placeholder="Enter your e-mail address" formControlName="email">
                        <div *ngIf="this.signupForm.get('email')?.invalid && signUpClicked" class="input-error">
                            Error
                        </div>
                    </div>
                    <div>
                        <mat-icon>person</mat-icon>
                        <input type="text" placeholder="Enter Username" formControlName="username">
                        <div *ngIf="this.signupForm.get('username')?.invalid && signUpClicked" class="input-error">
                            Error
                        </div>
                    </div>
                    <div>
                        <mat-icon>lock</mat-icon>
                        <input type="password" placeholder="Enter your password" formControlName="password">
                        <div *ngIf="this.signupForm.get('password')?.invalid && signUpClicked" class="input-error">
                            Error
                        </div>
                    </div>
                    <div>
                        <mat-icon>lock_person</mat-icon>
                        <input type="password" placeholder="Re-enter your password" formControlName="re_password">
                        <div *ngIf="this.signupForm.get('re_password')?.invalid && signUpClicked" class="input-error">
                            Error
                        </div>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
<app-footer></app-footer>
