<header>
  <div class="container">
    <button class="burger-menu" (click)="toggleNav()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="#" class="logo">
      <img src="../../../assets/images/logo-no-slogan.svg" alt="CineWave" />
    </a>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a (click)="navToFavorites()">Favorites</a>
        </li>
        <li>
          <a (click)="navToWatched()">Watched</a>
        </li>
      </ul>
    </nav>
    <a class="signin" (click)="clickSignIn()" *ngIf="!utilitiesService.getCurrentUser()">
      Sign in/up
      <mat-icon>login</mat-icon>
    </a>
    <div class="user" (click)="userActions()" *ngIf="utilitiesService.getCurrentUser()">
      <ul>
        <li><a (click)="logOut()">Log Out <mat-icon>login</mat-icon></a></li>
        <li><a (click)="deleteAccount()">Delete Account <mat-icon>delete</mat-icon></a></li>
      </ul>
      <p>
        <span>{{username}}</span> <!-- user's username should be displayed here -->
        <mat-icon>expand_more</mat-icon>
      </p>
    </div>
  </div>
</header>
