header {
  background-color: var(--blue-black);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img {
  width: 200px;
  margin-top: 13px;
  user-select: none;
  -webkit-user-drag: none;
}
header .container .burger-menu {
  width: 25px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
header .container .burger-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: var(--duration) ease-in-out;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
}
header .container .burger-menu.active {
  margin-left: 10px;
}
header .container .burger-menu.active span:first-child {
  width: 100%;
  background-color: var(--azure);
  -webkit-transform: rotate(45deg) translateY(16px);
  -moz-transform: rotate(45deg) translateY(16px);
  -ms-transform: rotate(45deg) translateY(16px);
  -o-transform: rotate(45deg) translateY(16px);
  transform: rotate(45deg) translateY(16px);
}
header .container .burger-menu.active span:nth-child(2) {
  width: 0;
}
header .container .burger-menu.active span:last-child {
  width: 100%;
  background-color: var(--azure);
  transform: rotate(-45deg) translateY(-16px);
  -webkit-transform: rotate(-45deg) translateY(-16px);
  -moz-transform: rotate(-45deg) translateY(-16px);
  -ms-transform: rotate(-45deg) translateY(-16px);
  -o-transform: rotate(-45deg) translateY(-16px);
}
header .container .burger-menu span:nth-child(2) {
  width: 75%;
}
header .container .burger-menu span:last-child {
  width: 50%;
}
header .container .burger-menu:hover span {
  width: 100%;
}
header .container nav {
  display: flex;
  background-color: var(--blue-black);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container nav ul {
  display: flex;
  gap: 35px;
}
header .container nav ul li a {
  display: block;
  position: relative;
  color: var(--athens-grey);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container nav ul li:last-of-type a::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: -15px;
  width: 6px;
  height: 6px;
  z-index: 200;
  background-color: var(--live-indicator);
  box-shadow: 0 0 0 2px var(--live-indicator-shadow);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container .navbar-actions {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .container .navbar-actions form {
  position: relative;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container .navbar-actions form input {
  width: 100%;
  background-color: var(--oxford-blue);
  padding: 12px 20px;
  color: var(--off-white);
  font-size: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
header .container .navbar-actions form .navbar-form-open {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  background-color: var(--oxford-blue);
}
header .container .navbar-actions form .navbar-form-close,
header .container .navbar-actions .navbar-search-open {
  display: none;
  background-color: transparent;
}
header .container .navbar-actions form .navbar-form-open mat-icon,
header .container .navbar-actions .navbar-search-open mat-icon {
  font-size: 20px;
  color: var(--light-azure);
}
header .container .navbar-actions form .navbar-form-open:hover mat-icon,
header .container .navbar-actions form input::placeholder {
  color: var(--off-white);
}
header .container .navbar-actions .signin {
  display: flex;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container .navbar-actions .signin:hover {
  color: var(--light-azure);
}
header .container .navbar-actions .signin mat-icon {
  margin-left: 5px;
  color: var(--light-azure);
  font-size: 22px;
}
@media (max-width: 1199px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }
  header.active {
    top: 250px;
  }
  header .container .burger-menu {
    display: flex;
  }
  header .container nav {
    position: fixed;
    top: -250px;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  header .container nav.active {
    top: 0;
  }
  header .container nav ul {
    width: 100%;
    height: 250px;
    padding-left: var(--space);
    justify-content: center;
    flex-direction: column;
    gap: 0;
    border-bottom: 1px solid var(--oxford-blue);
  }
  header .container nav ul li {
    flex: 1;
  }
  header .container nav ul li a {
    display: flex !important;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header .container nav ul li a::after {
    left: 35px;
  }
  header .container nav ul li:hover a {
    padding-left: 10px;
    background-color: var(--oxford-blue-alpha);
  }
  header .container nav ul li:hover a::after {
    margin-left: 10px;
  }
  header .container .navbar-actions form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: var(--space);
    right: var(--space);
    height: 100%;
    z-index: 100;
    background: var(--blue-black);
  }
  header .container .navbar-actions form.active {
    top: 0;
  }
  header .container .navbar-actions form .navbar-form-close,
  header .container .navbar-actions .navbar-search-open {
    display: block;
  }
  header .container .navbar-actions form .navbar-form-open {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  header .container .navbar-actions form .navbar-form-close {
    padding-top: 8px;
  }
  header .container .navbar-actions form .navbar-form-close mat-icon {
    color: var(--live-indicator);
    font-size: 20px;
  }
  header .container .navbar-actions .navbar-search-open mat-icon {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  header .container .logo img {
    width: 120px;
  }
  header .container .navbar-actions {
    gap: 20px;
  }
}
