<header>
  <div class="bar-buttons-container">
    <div class="search">
      <input
        type="search"
        name="main-search"
        id="search-input"
        placeholder="Search for a movie or a TV show"
      />
    </div>
    <div class="buttons"><a href="#">Login</a><a href="#">Register</a></div>
  </div>
  <nav>
    <h1 class="logo">CineWave</h1>
    <ul>
      <li>
        <a href="#">
          <mat-icon>movie</mat-icon>
          <span>Movies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>tv</mat-icon>
          <span>TV Shows</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>manage_accounts</mat-icon>
          <span>My Account</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
