header {
  background-color: var(--blue-black);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img {
  width: 200px;
  margin-top: 10px;
  user-select: none;
  -webkit-user-drag: none;
}
header .container .burger-menu {
  width: 20px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
header .container .burger-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--white);
  transition: var(--duration) ease-in-out;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
}
header .container .burger-menu.active {
  margin-left: 10px;
}
header .container .burger-menu.active span:first-child {
  width: 100%;
  background-color: var(--azure);
  transform: rotate(45deg) translateY(13px);
  -webkit-transform: rotate(45deg) translateY(13px);
  -moz-transform: rotate(45deg) translateY(13px);
  -ms-transform: rotate(45deg) translateY(13px);
  -o-transform: rotate(45deg) translateY(13px);
}
header .container .burger-menu.active span:nth-child(2) {
  width: 0;
}
header .container .burger-menu.active span:last-child {
  width: 100%;
  background-color: var(--azure);
  -webkit-transform: rotate(-45deg) translateY(-13px);
  -moz-transform: rotate(-45deg) translateY(-13px);
  -ms-transform: rotate(-45deg) translateY(-13px);
  -o-transform: rotate(-45deg) translateY(-13px);
  transform: rotate(-45deg) translateY(-13px);
}
header .container .burger-menu span:nth-child(2) {
  width: 75%;
}
header .container .burger-menu span:last-child {
  width: 50%;
}
header .container .burger-menu:hover span {
  width: 100%;
}
header .container nav {
  display: flex;
  background-color: var(--blue-black);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container nav ul {
  display: flex;
  gap: 35px;
}
header .container nav ul li a {
  display: block;
  cursor: pointer;
  color: var(--athens-grey);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container nav ul li a:hover {
  color: var(--yellow);
}
header .container .signin {
  display: flex;
  position: relative;
  top: 2px;
  cursor: pointer;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container .signin:hover {
  color: var(--light-azure);
}
header .container .signin mat-icon {
  margin-left: 5px;
  color: var(--light-azure);
  font-size: 22px;
}
header .container .user {
  position: relative;
  cursor: pointer;
}
header .container .user ul {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  width: 220px;
  height: 150px;
  z-index: 3;
  background-color: var(--oxford-blue);
}
header .container .user ul.show {
  display: flex;
}
header .container .user ul::before {
  content: "";
  position: absolute;
  top: -19px;
  right: 5px;
  border: 10px solid;
  border-color: transparent transparent var(--oxford-blue) transparent;
}
header .container .user ul li,
header .container .user ul li a {
  width: 100%;
}
header .container .user ul li a {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container .user ul li a:hover {
  color: var(--red);
}
header .container .user ul li a mat-icon {
  font-size: 18px;
  position: relative;
  top: 11px;
  color: var(--red);
}
header .container .user p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
header .container .user p mat-icon {
  color: var(--yellow);
  -webkit-transition: var(--duration) ease-in-out;
  -moz-transition: var(--duration) ease-in-out;
  -ms-transition: var(--duration) ease-in-out;
  -o-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}
header .container .user ul.show + p mat-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 1199px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  header.active {
    top: 250px;
  }
  header .container .burger-menu {
    display: flex;
  }
  header .container nav {
    position: fixed;
    top: -250px;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  header .container nav.active {
    top: 0;
  }
  header .container nav ul {
    width: 100%;
    height: 250px;
    padding-inline: var(--space);
    justify-content: center;
    flex-direction: column;
    gap: 0;
    border-bottom: 1px solid var(--oxford-blue);
  }
  header .container nav ul li {
    flex: 1;
  }
  header .container nav ul li a {
    display: flex !important;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header .container nav ul li:hover a {
    padding-left: 10px;
    background-color: var(--oxford-blue-alpha);
  }
  header .container nav ul li:hover a::after {
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  header .container .logo img {
    width: 130px;
  }
}
