@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

footer {
  margin-top: 50px;
  /* background-image: url(../../../assets/images/footer-bg.jpg); */
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .text p:nth-child(2) {
  margin-block: 10px;
}
footer .text p span {
  color: var(--azure);
  font-family: "Cookie", cursive;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
footer .logo img {
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 767px) {
  footer .container {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }
}
